<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FiasServer</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
<section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</section>

    <footer class="footer">
        <div class="container">
            &copy; 2020 - FiasServer - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
@RenderSection("Scripts", required: false)
</body>
</html>
