@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="title">@ViewData["Title"]</h1>
<h4 class="subtitle" id="external-login-title">Связать @Model.ProviderDisplayName аккаунт.</h4>
<hr />

<p id="external-login-description" class="is-info">
    Вы зашли с помощью <strong>@Model.ProviderDisplayName</strong>.
    Введите ваш адрес электронной почты для завершения регистрации.
</p>

<div class="columns">
    <div class="column col-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="is-danger"></div>
            <div class="field">
                <label asp-for="Input.Email" class="label"></label>
                <input asp-for="Input.Email" class="input" />
                <span asp-validation-for="Input.Email" class="is-danger"></span>
            </div>
            <button type="submit" class="button is-primary">Зарегистрироваться</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
