@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1 class="title">@ViewData["Title"]</h1>
<h4 class="subtitle">Введите вашу почту.</h4>
<hr />
<div class="columns">
    <div class="column col-4">
        <form method="post">
            <div asp-validation-summary="All" class="is-danger"></div>
            <div class="field">
                <label asp-for="Input.Email" class="label"></label>
                <input asp-for="Input.Email" class="input" />
                <span asp-validation-for="Input.Email" class="is-danger"></span>
            </div>
            <button type="submit" class="button is-primary">Отправить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
