@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}


<div class="columns">
    <div class="column is-4 is-offset-4 has-text-centered box">
        <h1 class="title">@ViewData["Title"]</h1>
        <h4 class="subtitle">Сброс пароля.</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="is-danger"></div>
            <input asp-for="Input.Code" type="hidden"/>
            <div class="field">
                <label asp-for="Input.Email" class="label"></label>
                <input asp-for="Input.Email" class="input"/>
                <span asp-validation-for="Input.Email" class="is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Input.Password" class="label"></label>
                <input asp-for="Input.Password" class="input"/>
                <span asp-validation-for="Input.Password" class="is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Input.ConfirmPassword" class="label"></label>
                <input asp-for="Input.ConfirmPassword" class="input"/>
                <span asp-validation-for="Input.ConfirmPassword" class="is-danger"></span>
            </div>
            <button type="submit" class="button is-primary">Сбросить</button>
        </form>
    </div>
</div>

@section Scripts {
}
